@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&family=Lexend+Deca:wght@500;700&family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section1{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section1-top{
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.section1-top-left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-top-left img{
    max-width: 550px;
}

.section1-top-right{
    width: 50%;
}

.section1-top-right-top h1{
    color: #91c7d7;
    margin: 1em 0;
}

#country {
margin-bottom: 0.5em;
font-size: 15px;
font-weight: 200;
}

#description {
    margin: 1em 0;
}

.section1-top-right-top ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;

}

.section1-top-right-top ul li p{
    font-weight: bold;
}

.section1-top-right-top{
    border-bottom: 1px solid rgb(168, 164, 164);
    padding-bottom: 1.5em;
}

.section1-top-right-bottom{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.section1-top-right-bottom ul{
    list-style: none;
    display: flex;
    column-gap: 2em;
}

.section1-top-right-bottom ul button{
    background-color: transparent;
    height: 30px;
    display: flex;
    align-content: center;
    align-items: center;
}

.section1-top-right-bottom ul button #weight{
    width: 50%;
    padding-right: 1em;
}

ul.weight :focus{
    background: #d2654c;
    color: #fff;
    border: none;
}

li.format{
    display: flex;

}

li.format button{
    width: 150px;
}


#liste-description{
    display: flex;
    flex-direction: column;
}


#liste-description li{
    display: flex;
    align-items: center;
    column-gap: 1em;
    margin-bottom: 1em;

}

.button {
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    margin: 1em 0;
}

h5 {
    margin: 1em 0;
}

.section1-center img {
    margin: 1em 0;
}

#text{
    display: flex;
    flex-wrap: wrap;
    font-size: 9px;
}

.choice select{
    background-color: #cdcccc
}

.left, .right{
    display: flex;
    column-gap: 2em;
    align-items: center;
}

.choice{
    display: flex;
    column-gap: 4em;
}

.section1-center{
    background-color: #e8e8e845;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em 0 0 0;
    line-height: 1em;
}

.section1-bottom{
    display: flex;
    justify-content: space-evenly;
    background-color: #bba00647;
}

.section1-bottom .description-product{
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.section1-bottom h5{
    font-size: 15px;
    
}

.section2{
    display: flex;
    flex-direction: column;
}

.section2-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5em;
}

.section2-top-left{
    display: flex;
    align-items: left;
    width: 30%;
}

.section2-top-left img {
    zoom: 80%;
}

.section2-top-right{
    background-color: #8dbdce;
    color: white;
    font-size: 13px;
    padding: 2em 3em 2em 3em;
    line-height : 1.7;
    margin-right: -200px;
    margin-top: 300px;
    margin-bottom: 3em;
}
