

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section1{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section1-top{
    display: flex;
    width: 100%;
}

.section1-top-left{
    width: 50%;
}

.section1-top-left img{
    width: 100%;
}

.section1-top-right{
    width: 50%;
}

.section1-top-right-top ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;

}

.section1-top-right-top ul li p{
    font-weight: bold;
}

.section1-top-right-top{
    border-bottom: 1px solid rgb(168, 164, 164);
    padding-bottom: 1.5em;
}

.section1-top-right-bottom{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.section1-top-right-bottom ul{
    list-style: none;
    display: flex;
    column-gap: 2em;
}

.section1-top-right-bottom ul button{
    background-color: transparent;
    height: 30px;
    display: flex;
    align-content: center;
    align-items: center;
}

.section1-top-right-bottom ul button #weight{
    width: 50%;
    padding-right: 1em;
}

ul.weight :focus{
    background: #d2654c;
    color: #fff;
    border: none;
}

li.format{
    display: flex;

}

li.format button{
    width: 150px;
}





p #text{
    display: flex;
    flex-wrap: wrap;
}

.choice select{
    background-color: #cdcccc
}

.left, .right{
    display: flex;
    column-gap: 2em;
    align-items: center;
}

.choice{
    display: flex;
    column-gap: 4em;
}

.section1-center{
    background-color: #e8e8e845;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em 0 1em 0;
    line-height: 1em;
}

.section1-bottom{
    display: flex;
    justify-content: space-evenly;
}

.section1-bottom .description-product{
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.section1-bottom h5{
    font-size: 15px;
    
}