section{
    display: flex;
   

}
div{
    width: 100%;
    height: 100%;
  
}

.aeropress .v-soixante .chemex .moka-bialetti .french-press{
    width: 30%; 
   
}

.aeropress{
    background-image: url("../assets/nos-recettes/aeropress-view.jpg");
   
    

}

.v-soixante{
   background-image: url("../assets/nos-recettes/cone-spirale-japonais.jpg");
}
.chemex{
   background-image: url("../assets/nos-recettes/cafetiere-sablier.jpg");
}

.moka-bialetti{
    background-image: url("../assets/nos-recettes/cafetiere-bialetti.jpg");
}

.french-press{
    background-image: url("../assets/nos-recettes/cafetiere-a-piston.jpg");
}