@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&family=Lexend+Deca:wght@500;700&family=Roboto:wght@400;500&display=swap');



* {
    padding-top: 0.3em;
    padding-left: 0.5em;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

body{
    width: 100vw;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
}


#top-div{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
}

#top-of-top-div {
    display: flex;
    justify-content:flex-end;
    column-gap: 2em;
    height: 70px;
    padding-right: 4em;
    align-items: center;
    

}


#bottom-of-top-div{
    height: 50px;
    font-weight: 500;
    font-size: 1.5em;
}

#bottom-of-top-div button{
    
}

#top-div ul{
    display: flex;
}


#tag-buttons{
    display: flex;
}

#bottom-div{
    width: 100%;
    height: 85%;
    display: flex;

}

#filter{
    width: 20%;
}

#filter h2{
    line-height: 3em;
}

#filter ul{
    line-height: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
}


#item{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3em;
    row-gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.div-store{
    width: 27%;
}

.div-store .top-of-the-card{
    width: 100%;
}

.div-store .top-of-the-card .pic-card{
    width: 100%;
}

#bottom-div select{
    margin-left: 1em;
}

.coffee-filter{
    border: none;
    background-color: transparent;
}

#main-filter input{
    font-size: 20px;
}

#secondary-filter input{
    margin-left: 1em;
    font-size: 15px;
}

#secondary-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
};
